.portfolio-container {
	background: salmon;
	border-radius: 10px;
	padding: 10px;
	width: 100%;
	align-items: center;
	justify-content: center;
	box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
}

.portfolio-avatar-img {
	align-items: center;
	justify-content: center;
	display: flex;
}

.portfolio-skill {
}

li.portfolio-skill-card {
}
